[submodule "LLaVA"]
	path = LLaVA
	url = git@github.com:maplesyrup-0606/LLaVA.git
[submodule "HAT"]
	path = HAT
	url = git@github.com:maplesyrup-0606/HAT.git
[submodule "eval/captions/hallucination/eval/captions/hallucination/POPE"]
	path = eval/captions/hallucination/eval/captions/hallucination/POPE
	url = git@github.com:maplesyrup-0606/POPE.git
	branch = main
[submodule "eval/captions/hallucination/POPE"]
	path = eval/captions/hallucination/POPE
	url = git@github.com:maplesyrup-0606/POPE.git
	branch = main
[submodule "eval/captions/hallucination/CHAIR-metric-standalone"]
	path = eval/captions/hallucination/CHAIR-metric-standalone
	url = git@github.com:maplesyrup-0606/CHAIR-metric-standalone.git
	branch = main
[submodule "eval/captions/semantics/GEM-metrics"]
	path = eval/captions/semantics/GEM-metrics
	url = git@github.com:GEM-benchmark/GEM-metrics.git
	branch = main
